#FileP .fieldgroup-field { width: 100%; }
#FileP .fieldgroup-field .cms-file-info-data { width: 400px; }
#FileP .fieldgroup-field .fieldholder-small { margin-top: 5px; }
#FileP .fieldgroup-field .fieldholder-small label { width: auto; margin-left: 0; padding-top: 0; margin-right: 10px; font-weight: bold; }
#FileP .fieldgroup-field .fieldholder-small .readonly { font-style: italic; color: #666; }

#DocumentTypeID ul input[type="radio"] { display: none; }
#DocumentTypeID ul li { display: inline; float: none; padding: 4px; }
#DocumentTypeID ul li.selected { border-bottom: 1px solid #555; border-top: 1px solid #e6e6e6; }
