//** Default values for colours, sizes etc

// Colours
$color-button-generic: #e6e6e6 !default;
$color-zebra: #F0F4F7 !default;

$color-grey-lighter: #f8f8f8 !default;
$color-grey-light: #d0d3d5 !default;
$color-grey-dark: #66727d !default;
$color-white: #ffffff !default;

$color-cms-input-border: #b3b3b3 !default;
