//** The DMS document details/information on an edit page
.dmsdocument-documentdetails {
  .fieldgroup-field {
    .cms-file-info-preview {
      box-shadow: none;
    }

    .cms-file-info-data {
      width: 400px;
    }

    .fieldholder-small {
      margin-top: 5px;

      .fieldholder-small-label {
        font-weight: bold;
        float: left;
      }

      .readonly {
        font-style: italic;
      }
    }
  }
}

//** The actions panel buttons when editing a DMS document
.dmsdocment-actions {
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  padding: 0;

  label.left {
    padding: 6px 0 0 0;
  }

  .ss-ui-button {
    border: none;
    background: none;
    border-radius: 0;
    font-weight: normal;

    .ui-button-text {
      padding-bottom: 1em;
    }

    &.dms-active,
    &.dms-active:hover {
      @include dmsdocument-actions-active($color-grey-dark);
    }

    &:hover,
    &:active {
      background: none;
      border: none;
      box-shadow: none;
    }
  }
}

//** The actions panel, containing mini forms for each DMS document action
.dmsdocument-actionspanel {
  margin-top: 0;

  .fieldgroup {
    border: 1px solid $color-grey-light;
    display: none;
    margin-left: 0;
    padding: 5px 15px;

    .fieldholder-small {
      label {
        padding: 0;
      }
    }

    .embargo,
    .expiry {
      li {
        margin-left: 8px;
        width: 100%;

        label {
          padding-left: 10px;
        }
      }

      .embargoDatetime,
      .expiryDatetime {
        float: left;
        margin-top: 0;
        margin-left: 34px;
        overflow: hidden;

        .field {
          &.date,
          &.time {
            display: inline-block;
            margin: 0;
            padding: 0;
            width: auto;

            .middleColumn {
              overflow: hidden;
            }
          }

          &.date {
            .middleColumn {
              background: url('../images/calendar-month.png') 90px 7px no-repeat;
            }
          }

          &.time {
            .middleColumn {
              background: url('../images/clock-frame.png') 90px 7px no-repeat;
            }
          }
        }

        .middleColumn {
          border: none;
          margin-left: 0;
          width: auto;

          input.date,
          input.time {
            margin-right: 40px;
            width: 80px;
          }
        }
      }
    }

    .fieldgroup-field label {
      margin: 0;
    }
  }

  .ss-uploadfield-files {
    .ss-uploadfield-item-preview {
      background: url('../images/app_icons/generic_32.png') -10px -6px no-repeat;
    }

    .ss-uploadfield-item-name {
      span.name {
        width: 260px;
      }
    }

    .ss-uploadfield-item-actions {
      .ss-uploadfield-item-cancel {
        text-indent: 0;
        width: auto;

        .btn-icon-deleteLight {
          background-position: 0 -128px;
          display: inline-block;
        }

        .ui-button-text {
          color: $color-grey-dark;
          display: block;
          float: right;
          padding: 0 0 0 2em;
          position: relative;
        }
      }
    }
  }

  & > .fieldgroup.middleColumn {
    display: block;
    overflow: hidden;

    .fieldgroup-field {
      width: 100%;
    }
  }

  .permissions {
    .fieldholder-small {
      clear: both;
    }
  }
}

#ui-datepicker-div {
  border: 1px solid $color-grey-light;
}

//** Overrides for the inline edit screen
form.small .field input.text,
form.small .field textarea,
form.small .field select,
form.small .field .TreeDropdownField,
.field.small input.text,
.field.small textarea,
.field.small select,
.field.small .TreeDropdownField {
  width: 100%;
}
