@import "compass/css3";

@import '_mixins';

$color-button-generic: #e6e6e6 !default;

form.small .field input.text, 
form.small .field textarea, 
form.small .field select, 
form.small .field .TreeDropdownField, 
.field.small input.text, .field.small textarea, 
.field.small select, .field.small .TreeDropdownField{
	width: 100%;
}

#FileP{
	.fieldgroup-field{
		width:100%;
		.cms-file-info-preview{
			box-shadow:none;
		}
		.cms-file-info-data{
			width:400px;
		}
		.fieldholder-small{
			margin-top: 5px;
			label{
				width:auto;
				margin-left: 0;
				padding-top: 0;
				margin-right: 10px;
				font-weight: bold;
				float: left;
			}
			.readonly{
				font-style:italic;
				color: #666;
			}
		}
	}
}

#DocumentTypeID{
	@include tabButtons;
}

#Actions{
	box-shadow:none;
	border:none;
	padding:0;
	li{
		margin-left: 2px;
		&:first-child{
			margin-left: 0;
		}
		&.delete-button-appended{
			display: inline-block;
			position: relative;
			margin-left: 0;
		}
		&.dms-active{
			@include active-actions-btn;
		}
	}
}

.ActionsPanel{

	/*.middleColumn{
		margin-left:184px;
		width: 510px;
		form.small &{
			margin-left: 120px;
		}
	}
	*/

	/*label.fieldholder-small-label{
		display: none;
	}*/


	.fieldgroup {
		display: none;
		float:none;
		width:auto;
		background: #f8f8f8;
		padding: 15px;
		border: 1px solid #d0d3d5;
		@include border-radius(5px);

 		.fieldholder-small{
			label{
				float:none;
				width:auto;
				margin:0;
				padding:0;
				&.ss-ui-button{
					float: left;
					margin: 0 10px 0 0;
				}
			}
		}
		.embargo, .expiry{
			li{
				float: none;
				width: 100%;
				margin-left: 8px;
				label{
					padding-left: 10px;
				}	
			}
			.embargoDatetime, .expiryDatetime{
				margin-top: 0;
				margin-left: 34px;
				.field{
					&.date, &.time{
						display: inline-block;
						width: auto;
					}
					&.date{
						.middleColumn{
							background: url('../images/calendar-month.png') 90px 7px no-repeat;
						}
					}
					&.time{
						.middleColumn{
							background: url('../images/clock-frame.png') 90px 7px no-repeat;
						}
					}
				}
				.middleColumn{
					margin-left: 0;
					width: auto;
					border: none;
					input{
						width: 80px;
						margin-right: 40px;
					}
				}
			}
		}
	}

	#Embargo {
		border: none;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
	}

	.ss-uploadfield-files{
		.ss-uploadfield-item-preview{
			background: url('../images/app_icons/generic_32.png') -10px -6px no-repeat;
		}
		.ss-uploadfield-item-name{
			span.name{
				width: 260px;
			}
		}
		.ss-uploadfield-item-actions{
			.ss-uploadfield-item-cancel{
				width: auto;
				text-indent:0;
				.btn-icon-deleteLight{
					background-position: 0 -128px;
					display: inline-block;
				}
				.ui-button-text{
					display: block;
					position: relative;
					float: right;
					color: #555;
					padding:0;
					padding-left: 2em;
				}
			}
		}
	}

	& > .fieldgroup.middleColumn { 
		overflow: hidden; 
		display: block;
		.fieldgroup-field { 
			width: 100%; 
		}
  	}
}

#Form_ItemEditForm{
	fieldset{
		table.ss-gridfield-table{
			width: 494px;
			//max-width:508px;
			tr{
				th.main{
					min-width:175px;
					&.col-action_SetOrderID{
						width:60px;
						min-width:60px;
					}
				}
				td{
					white-space:normal;
				}
			}
		}
	}
}

#ui-datepicker-div{
	border: 1px solid #DDD;
}