@import "compass/css3";


$color-button-generic: #e6e6e6 !default;


#FileP{
	.fieldgroup-field{
		width:100%;
		.cms-file-info-data{
			width:400px;
		}
		.fieldholder-small{
			margin-top: 5px;
			label{
				width:auto;
				margin-left: 0;
				padding-top: 0;
				margin-right: 10px;
				font-weight: bold;
			}
			.readonly{
				font-style:italic;
				color: #666;
			}
		}
	}
}

#DocumentTypeID{
	ul{
		padding:0;
		input[type="radio"]{
			display:none;
		}
		li{
			display:inline-block;
			padding:0;
			width:auto;
			margin-right: 0;
			border-radius:0;
			border-left: 1px solid #C0C0C2;
			border-right: 1px solid lighten(#C0C0C2, 20%);
			&:first-child{
				border-radius: 6px 0 0 6px;
			}
			&:last-child{
				border-radius: 0 6px 6px 0;
				border-right: 1px solid #C0C0C2;
			}
			&.selected{
				border-bottom:1px solid #C0C0C2;
				border-right: 1px solid #C0C0C2;
				@include background(
					linear-gradient(color-stops(
						darken($color-button-generic, 15%),
						$color-button-generic
					))
				);
				box-shadow: 0 1px 1px 0 #555 inset;
				:after{
					box-shadow: 0 1px 1px 0 #DDD;
				}
			}
			label{
				padding: .4em 1em;
				display: block;
				line-height: 1.4;
			}
		}
	}
}
#Actions{
	li{
		margin-left: 2px;
		&:first-child{
			margin-left: 0;
		}
	}
}
#ReplaceFile{
	display:none;
}

.cms{
	fieldset{
		table.ss-gridfield-table{
			width: auto;
			tr{
				th.main{
					min-width:200px;
					&.col-action_SetOrderID{
						width:60px;
						min-width:60px;
					}
				}
			}
		}
	}
}