//data-icon="cross-circle"
$gf_colour_zebra: #F0F4F7;

.ui-autocomplete{
	border: 1px solid #DDD;
	box-shadow: 0 1px 2px 0px #AFAFAF;
}

#Root_Documents{
	padding-left: 0;
	table{
		white-space:normal;
		th{
			&.col-action_SetOrderTitle, &.col-FilenameWithoutID{
				width: 300px;
			}
		}
		td{
			white-space:normal;
		}
		td.col-buttons{
			white-space:nowrap;
			.dms-delete-link-only{
				.ui-icon{
					background: url(../images/chain-unchain.png) no-repeat;
				}
			}
		}
		tr.dms-document-hidden-row {
			&.odd {
				background-color: mix($gf_colour_zebra, rgba(255, 4, 0, 0.2));
			}
			&.even {
				background-color: mix($gf_colour_zebra, rgba(255, 4, 0, 0.35));
			}
			&:hover {
				background-color: mix($gf_colour_zebra, rgba(255, 4, 0, 0.6)) !important;
			}
		}
	}
}


.DMSDocumentAddController .ui-tabs{
	ul.ui-tabs-nav{
		border-bottom:none;
		float: right;
		margin: 8px 0 -1px 0;
		padding: 0 24px 0 0;
		li{
			padding-bottom: 1px;
			border: 1px solid #C0C0C2;
			a{
				padding: 8px 20px 8px;
			}
		}
	}
}


#Form_EditForm_Documents {
	padding: 1em 0;
	input[name="filter[LastChanged]"] {
		display: none;
	}
}